// SIZES

// FONTS
$font-title: "Sunflower", sans-serif;

// COLORS
$color-page-background: #fafcfc;
$color-page-footer-text: #b6bdc2;
$color-page-footer-text-hover: #666;
$color-page-footer-link-hover: #000;

$color-options-border: #b9bfc7;
$color-options-background: #fafcfc;
