body {
  background-color: #fafcfc;
  margin: 0;
}

#app {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}

/* HEADER */

header {
  text-align: center;
  font-family: "Sunflower", sans-serif;
}

#options {
  position: absolute;
  width: 400px;
  height: 100vh;
  right: 0;
  top: 0;
  border-left: 1px solid #b9bfc7;
  background-color: #fafcfc;
}

/* MAIN */

main {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

main #board {
}

/* FOOTER */

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-family: "Sunflower", sans-serif;
  font-size: 13px;
  padding: 0 20px;
  color: #b6bdc2;
  transition: color 0.3s ease-in-out;
}

@media screen and (min-width: 480px) {
  footer {
    flex-flow: row nowrap;
  }
}

footer a {
  color: #b6bdc2;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

footer:hover {
  color: #666;
}

footer:hover a {
  color: #666;
}

footer a:hover {
  text-decoration: underline;
  color: #000;
}

footer a:visited {
  color: #b9bfc7;
}
